<!DOCTYPE html>
<head>
    <title>WFS</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/assets/bootstrap-4/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/wfs.css">
	<link rel="icon" type="image/png" href="/assets/img/wfs.png">
</head>
<body class="bg-light">


<div class="container p-5">
    <div class="text-center">
        pub폴더가 생성되었습니다. F5를 눌러주세요.<br>
        precomp컴프 필요시 pub/precomp/SS_0010_matte_v01.nk 파일형태로 수동 생성해주세요.
    </div>
</div>

{{template "footer"}}

</body>
</html>