<!DOCTYPE html>
<head>
    <title>WFS</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/assets/bootstrap-4/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/wfs.css">
	<link rel="icon" type="image/png" href="/assets/img/wfs.png">
</head>
<body class="bg-light">


<div class="container p-5">
    <div class="text-center">
        Create new nuke file.<br>
        <img src="/assets/img/nk.png"> <a href="{{.Protocol}}://{{.URLPath}}/{{.Nukefile}}">{{.Nukefile}}</a>
    </div>
</div>


{{template "footer"}}

</body>
</html>