<!DOCTYPE html>
<head>
    <title>WFS</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/assets/bootstrap-4/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/wfs.css">
	<link rel="icon" type="image/png" href="/assets/img/wfs.png">
</head>
<body class="bg-light">
<div class="p-3">
    {{if .Error}}
    <div class="row pl-3">
        {{.Error}}
    </div>
    {{end}}
    {{if .Parent}}
    <div class="row pl-3">
        <a href="{{.Parent}}" class="text-dark">..</a>
    </div>
    {{end}}

    {{range .Items}}
        {{if eq .Typ "directory"}}
        <div class="row pl-3">
            <a href="dilink://{{.Path}}"><img src="/assets/img/{{.Typ}}.png" class="icon"></a>&nbsp;
            <a href="{{.Path}}" class="text-dark">{{.Filename}}</a>
        </div>
        {{else}}
        <div class="row pl-3">
            <img src="/assets/img/{{.Typ}}.png" class="appicon">&nbsp;<a href="dilink://{{.Path}}" class="text-dark align-top">{{.Filename}}</a>
        </div>
        {{end}}
    {{end}}
</div>

</body>
</html>
