<!DOCTYPE html>
<head>
    <title>WFS</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/assets/bootstrap-4/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/wfs.css">
	<link rel="icon" type="image/png" href="/assets/img/wfs.png">
</head>
<body>
{{if .Parent}}
    <a href="{{.Parent}}">..</a><br>
{{end}}

{{range .Items}}
    {{if eq .Typ "directory"}}
    <div>
        <a href="dilink://{{.Path}}">
            <img src="/assets/img/{{.Typ}}.png">
        </a> <a href="{{.Path}}">{{.Filename}}</a>
    </div>
    {{else}}
    <div>
        <img src="/assets/img/{{.Typ}}.png">
        <a href="dilink://{{.Path}}">{{.Filename}}</a>
    </div>
    {{end}}
{{end}}
</body>
</html>
